

process {
    // executor = 'local'
    executor = 'slurm'
    conda = true
    memory = '10 GB'
    cpus = 1
    time = '00:01:00'    
}

params {
    workdir    = '/path/to/working_dir/'         // change
    repo       = "/path/to/wetland_methane_ML/"  // change
    num_sites = 2 //43
    num_reps  = 3 //100
}

executor.$slurm.queueSize = 1

