executor.$slurm.queueSize = 1
conda.enabled = true
conda.useMamba = true

process {
    // executor = 'local'
    executor = 'slurm'
    memory = '10 GB'
    cpus = 1
    time = '00:01:00'    
}

params {
    workdir    = '/path/to/working_dir/'         // change
    repo       = "/path/to/wetland_methane_ML/"  // change
    num_sites = 43
    num_reps  = 100
}

