executor.$slurm.queueSize = 1
conda.enabled = true
conda.useMamba = true
conda.cacheDir = '/path/to/(big)_cache_dir/'          // CHANGE

process {
//    executor = 'local'
    executor = 'slurm'
    memory = '10 GB'
    cpus = 1
    time = '00:10:00'    
}

params {
    workdir    = '/path/to/working_dir/'         // CHANGE
    repo       = "/path/to/wetland_methane_ML/"  // CHANGE
    num_sites = 43
    num_reps  = 100
}
